<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<style>
			.active {
				background-color: black;
				color: white;
			}
		</style>
	</head>
	<body>
		<ul>
			{% for p in PAGES %}
			<li><a href="{{ p.name }}.html" {% if p.name == current_page.name %}class="active"{% endif %}>{{ p.title }}</a></li>
			{% endfor %}
		</ul>
		<div>
			{% block page_content %}{% endblock %}
		</div>
	</body>
</html>
